body {
  background: radial-gradient(circle, transparent 20%, #7889da 20%, #7889da 80%, transparent 80%, transparent), radial-gradient(closest-side, transparent 20%, #7889da 20%, #7889da 80%, transparent 80%, transparent) 30px 30px, linear-gradient(#655c7e 2.4000000000000004px, transparent 2.4000000000000004px) 0 -1.2000000000000002px, linear-gradient(90deg, #424265 2.4000000000000004px, #7889da 2.4000000000000004px) -1.2000000000000002px 0;
  background-size: 60px 60px, 60px 60px, 30px 60px, 30px 60px;
  background-blend-mode: luminosity;
}

body::after {
  content: "";
  background-image: linear-gradient(180deg, #656565 0%, #2c2c2c 99%);
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: fixed;
  z-index: -10;
  background-repeat: repeat;
}

h2 {
  font-size: 1em;
  color: lightgrey;
  margin-top: -1px;
  text-shadow: 2px 1px 8px #3f3f3f;
}

.search-container {
  background: linear-gradient(50deg, #6d7687 20%, #a1a1a1 44%, #6d7687 84%); 
  padding: 10px;
  background-position: 0% 50%;
  margin-top: 7px;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
    background-size: 100% 100%;
  }
}

.search-mode-change {
  background-size: 200% 200%;
	animation: gradient 2s ease;
}

.search-toggle-container {
  background-color: #757575;
}

.change-mode {
  text-transform: uppercase;
  font-size: .5em;
  font-family: sans-serif;
  color: darkgrey;
  margin-left: -5px;
  margin-right: -5px;
}

.results-div-e {
  height: 200px;
  background-color: #f0f8ff85;
  border-radius: 4px;
  padding: 12px;
}

.results-div {
  height: 500px;
  background-color: #f0f8ff85;
  border-radius: 4px;
  padding: 12px;
  z-index: 3;
}

.results-inner-div-e {
  height: 200px;
  background-color: aliceblue;
  border-radius: 4px;
}

.results-inner-div {
  height: 500px;
  background-color: aliceblue;
  border-radius: 4px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.trim {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 68ch;
  max-height: 6ch;
  display: block;
  font-size: 15px;
}

.req-btn {
  left: -2em;
}

.request-container {
  border: 10px solid #808080cc;
  background-color:#d3d3d340;
  backdrop-filter: blur(10px);
  width: 5em;
  padding: 20px;
  overflow: hidden;
  cursor: pointer;
}

/* Animated Sliding Diagonals Background pattern - Chris Smith codepen */
.bg {
  animation:slide 3s ease infinite alternate;
  background-image: linear-gradient(-60deg, #8464a5 50%, #473f9e 20%);
  bottom:0;
  left:-50%;
  opacity:.5;
  position:fixed;
  right:-50%;
  top:0;
  z-index:-1;
  transition: opacity 2s ease;
}

.bg-0 {
  animation:slide 3s ease infinite alternate;
  background-image: linear-gradient(-60deg, #8464a5 50%, #473f9e 20%);
  bottom:0;
  left:-50%;
  opacity:0;
  position:fixed;
  right:-50%;
  top:0;
  z-index:-1;
  transition: opacity 2s ease;
}

.bg2 {
  animation-direction:alternate-reverse;
  animation-duration:4s;
}

.bg3 {
  animation-duration:5s;
}

@keyframes slide {
  0% {
    transform:translateX(-25%);
  }
  100% {
    transform:translateX(25%);
  }
}

.fade-scale {
  animation: transform-decal 1s ease;
}

@keyframes transform-decal {
  0% {
    transform: scaleY(1);
    opacity: 1;
  }
  100% {
    transform: scaleY(0);
    opacity: 0;
  }
}

.crumb-results {
  text-transform: uppercase;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 32ch;
  max-height: 6ch;
  display: block;
  font-size: 14px;
}

.center {
  text-align: left;
}

.left {
  float: left !important;
}

.right {
  float: right !important;
}

@keyframes load-in-results {
  0% {
    transform: translate(calc(5px * var(--i)), calc(-5px * var(--i)));
    opacity: 0;
  }
  100% {
    transform: translate(0px, 0px);
    opacity: 1;
  }
}

.load-in {
  animation: load-in-results .5s ease;
}

.modal-style {
  display:flex;
  height: 450px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #3b3b3baa;
  width: 700px;
  border: 3px solid #000000ad;
  flex-direction: column;
  padding: 20px;
  z-index: 5;
}

.modal-blur {
  display:flex;
  height: 450px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #12091faa;
  width: 700px;
  flex-direction: column;
  padding: 20px;
}

.blur {
  z-index: 4 !important;
  filter: blur(22px);
}

.mytbl{
  max-height: calc(100vh - 120px);
  overflow: scroll;
  }

.select-btn-g {
  background: linear-gradient(180deg, #373490 0%, #1800b6 45%, #260f54 99%);
  background-clip: content-box;
  background-size: 95%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color:#6590e588;
  box-shadow: 2px 2px 10px whitesmoke;
}

.genres-label {
  background: linear-gradient(180deg, #4b58b9 0%, #6b90ba 45%, #ebebeb 99%);
  background-clip: content-box;
  background-size: 33%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color:#6590e588;
  text-align: center;
  margin-bottom: 0px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  text-transform:uppercase;
  text-decoration: underline;
  font-weight: bold;
}

.wo-input {
  animation: shake-dialogue 2s ease;
}

@keyframes shake-dialogue {
  0% {
    transform: translateX(0px);
  }
  25% {
    transform: translateX(-4px);
  }
  50% {
    transform: translateX(4px);
  }
  75% {
    transform: translateX(-4px);
  }
  100% {
    transform: translateX(0px);
  }
}

.sel-title {
  margin-top: 0px;
  font-family: 'Della Respira';
  margin-left: 8px;
}

.source-score {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Sans', sans-serif;
  font-size: 12px;
}

.DOTS1 {
  animation: 2s DOTS1load infinite;
  flex: 1;
  margin-left: -18px;
}

.DOTS2 {
  animation: 2s DOTS2load infinite;
  flex: 1;
}

.DOTS3 {
  animation: 2s DOTS3load infinite;
  flex: 1;
  margin-right: -18px;
}

.DOTS1, .DOTS2, .DOTS3 {
  text-shadow: 3px 3px 10px #8b8b8b;
}

@keyframes DOTS1load {
  0% {
    color: #0d0d0d;
  }
  25% {
    color: #5a5a5a;
  }
  50% {
    color: #b7b7b7;
  }
  75% {
    color: #252525;
  }
  100% {
    color: #7a7a7a;
  }
}

@keyframes DOTS2load {
  0% {
    color: #ababab;
  }
  25% {
    color: #cfcfcf;
  }
  50% {
    color: #353535;
  }
  75% {
    color: #898989;
  }
  100% {
    color: #b8b8b8;
  }
}

@keyframes DOTS3load {
  0% {
    color: #b0b0b0;
  }
  25% {
    color: #313131;
  }
  50% {
    color: #868686;
  }
  75% {
    color: #bbbbbb;
  }
  100% {
    color: #313131;
  }
}

h3 {
  font-weight: bold;
  font-family:Arial, Helvetica, sans-serif;
  margin: 15px;
  color: #717a71;
}

.plot-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #d3d3d3dd;
  border-top: 14px solid black;
  border-left: 14px solid black;
  width: 700px;
  flex-direction: column;
  font-family: 'Lucida Sans';
  font-size: 20px;
  padding: 20px;
}

.entry {
  font-family:Cambria, 'Times New Roman', serif;
  letter-spacing: .05em;
  font-size: 17px;
  line-height: 2vh;
  color:#282828;
}

.entry-r {
  margin-left: 5px;
  letter-spacing: .2em;
  background-color: lightgrey;
  color: #282828;
}

img {
  margin-top: -50px;
  box-shadow: 5px -2px 2px #799b9b;
  border-bottom:6.5px solid #1b1257;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

ol {
  margin-left: -15px !important;
}

/* iOS compatabilty styles */
@supports (-webkit-touch-callout: none) {
  .body { 
    background-blend-mode: lighten;
  }
  .genres-label {
    color: #6b90ba;
  }
  .req-btn {
    color: #d7c1d7 !important;
  }
}

@media screen and (max-width: 980px) {
  .trim {
    max-width: 65ch;
    font-size: 14px;
  }
  .plot-modal {
    width: 550px;
  }
}

@media screen and (max-width: 768px) {
  .trim {
    max-width: 55ch;
    font-size: 12px;
  }
  .modal-style {
    width: 600px;
  }
  .modal-blur {
    width: 600px;
  }
}

@media screen and (max-width: 575px) {
  .search-container {
    padding: 5px;
  }
  .request-container {
    margin: -10px;
    border: 5px solid #808080cc;
    backdrop-filter: blur(7px);
    padding: 10px;
  }
  .req-btn {
    padding-left: 21px !important;
  }
  .trim {
    max-width: 34ch;
    font-size: 9px;
  }
  .results-inner-div {
    height: 625px;
    overflow-y: scroll;
  }
  .results-div {
    height: 625px;
  }
  .crumb-results {
    max-width: 25ch;
    font-size: 10px;
  }
  .modal-style {
    width: 300px;
  }
  .modal-blur {
    width: 300px;
  }
  .genres-label {
    font-size: 15px;
  }
  .source-score {
    font-size: 10px;
  }
  .plot-modal {
    width: 300px;
  }
  .sel-title {
    font-size: 20px;
  }
  .entry, .entry-r {
    font-size: 14px;
  }
  h3 {
    margin: 10px;
  }
  img {
    margin-left: 5px;
  }
}